{% extends 'base.html' %}

{% block content %}
<style>
form { all: none; }
</style>
<div class="row mt-5">

      <div class="card offset-2 col-md-3">
        <div class="card-body tex-center d-flex align-items-center flex-column">
          <!-- Gayet güzel, dosya seç görselini override etti. ref önemli -->
          <img height="128" class="img-responsive text-center mb-3" src="{{book.photo.url}}" >
          <input type="file" style="display: none;" name="photo"  class="form-control">
          <button class="btn btn-outline-secondary " type="button"">Choose Image</button>
        </div>
      </div>
      <div class="col-md-5">
        <div class="col-md-11 card">
          <div class="card-body">
    <form action="{% url 'book:edit' book.id %}" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
            <div class="form-group">
              <label>Book Name</label>
              <input type="text" name="name"  class="form-control" value="{{book.name}}">
            </div>
            <div class="form-group">
              <label>Author Name</label>
              <input type="text" name="author"  class="form-control" value="{{book.author}}">
            </div>
            <div class="row">
              <div class="form-group col-md-5">
                    <label for="date">Date</label>
                    <input class="form-control" type="date" value="2020-01-01" name="date" id="date" aria-describedby="dateHelp" style="max-width: 320px;">

              </div>
              <div class="col-md-7">
                  <label for="image" style="display: block;"class="ml-3">Rate</label>
                <div class="custom-control custom-radio ml-2" style="display: inline;">
                    <input type="radio" class="custom-control-input mr-2" name="rate" id="value1" value="1" {% if book.rate == 1 %} checked {% endif %} >
                    <label class="custom-control-label mr-1" for="value1">1</label>
                </div>
                <div class="custom-control custom-radio " style="display: inline;">
                    <input type="radio" class="custom-control-input mr-2" name="rate" id="value2" value="2" {% if book.rate == 2 %} checked {% endif %} >
                    <label class="custom-control-label mr-1" for="value2">2</label>
                </div>
                <div class="custom-control custom-radio " style="display: inline;">
                    <input type="radio" class="custom-control-input mr-2" name="rate" id="value3" value="3" {% if book.rate == 3 %} checked {% endif %} >
                    <label class="custom-control-label mr-1" for="value3">3</label>
                </div>
                <div class="custom-control custom-radio " style="display: inline;">
                    <input type="radio" class="custom-control-input mr-2" name="rate" id="value4" value="4" {% if book.rate == 3 %} checked {% endif %} >
                    <label class="custom-control-label mr-1" for="value4">4</label>
                </div>
                <div class="custom-control custom-radio " style="display: inline;">
                    <input type="radio" class="custom-control-input mr-2" name="rate" id="value5" value="5" {% if book.rate == 5 %} checked {% endif %} >
                    <label class="custom-control-label mr-1" for="value5">5</label>
                </div>
              </div>

            </div>
            <button class="btn btn-outline-info btn-block">Update!</button>
          </div>
        </div>
      </div>
      </form>
    </div>

{%  endblock %}